<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <a href="/" id="logout">logout</a>
  <div class="container d-flex p-5">
      <main role="main">
          <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
              <h1>Navbar examples</h1>
              <p>This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend the width of the viewport, others are confined within a <code>.container</code>. For positioning of navbars, checkout the <a href="/docs/4.3/examples/navbar-static/">top</a> and <a href="/docs/4.3/examples/navbar-fixed/">fixed top</a> examples.</p>
              <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
              <p>
                <a class="btn btn-primary" href="/docs/4.3/components/navbar/" role="button">Read More &raquo;</a>
                <a class="btn btn-primary" id="github_login" href="/auth/github" role="button">Login with Github &raquo;</a>
                <a class="btn btn-primary" id="main_stubs" href="/all" role="button">See all Stubs &raquo;</a>
              </p>
            </div>
          </div>
        </main>
  </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script>
        
        $( document ).ready(function() {
            $('a#logout').hide()
          if ($.cookie("access_token")) {
            $('a#logout').show()
            $('a#logout').on("click",function(){
            $.removeCookie('access_token', { path: '/' });
            })
            console.log($.cookie("access_token"))
            $("#github_login").hide(); 
          } else {
            $("#main_stubs").hide(); 
          }
      });
    </script>
    
  </body>
</html>
